app.properties

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Вывод сборки
build/
out/

# Файлы Gradle
.gradle/

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
logs/
hs_err_pid*